@import '../../node_modules/bootstrap/scss/bootstrap';

@mixin make-container($padding-x: $container-padding-x) {
  width: 50%;
  padding-right: 2rem;
  padding-left: 10rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  @include make-container();
}